RewriteEngine On

ErrorDocument 404 /error404
ErrorDocument 500 /error500

RewriteRule ^error404$ controllers/pageNotFoundController.php
RewriteRule ^error500$ controllers/internalServerErrorController.php

RewriteRule ^$ controllers/homeController.php 

RewriteRule ^patientlist$ controllers/patientListController.php
RewriteRule ^patientadd$ controllers/patientAddController.php
RewriteRule ^patientprofile$ controllers/patientProfileController.php
RewriteRule ^patientdelete$ controllers/patientDeleteController.php

RewriteRule ^appointmentlist$ controllers/appointmentListController.php
RewriteRule ^appointmentadd$ controllers/appointmentAddController.php
RewriteRule ^appointmentprofile$ controllers/appointmentProfileController.php
RewriteRule ^appointmentdelete$ controllers/appointmentDeleteController.php

RewriteRule ^pagination$ helpers/sandbox/pagination.php

